*{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
a{
    color: #333;
    outline: medium none;
    overflow: hidden;
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    content: "large-device-profile";
    color: #333;
    font-family: "tradegothic","fzlthjw","å¾®è½¯é›…é»‘","Microsoft YaHei","é»‘ä½“","SimHei";
    font-size: 12px;
    content: "";
    ie8: "";
    position: relative;
}
#stickHeader{
    z-index:9999;
    width: 100%;
    background-color:white;
    .header{
        overflow:hidden;
        height: 80px;
        line-height: 80px;
        padding-left: 68px;
        padding-right: 84px;
        background-color: black;
        .header-content{
                width: 100%;
                height: 100%;
                position: relative;
            .headerBox{
                width: 80px;
                height: 100%;
                float: right;
                text-align:center;
                div{
                    width: 30px;
                    height: 31px;
                    display: inline-block;
                }
            }
            .chat-button{
                div{
                    background:url(../images/jingling.png);
                    background-position: -169px -161px;
                    position:absolute;
                    top:50%;
                    margin-top:-15px;
                    margin-right:-15px;
                    opacity: 0.5;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
            .search-button{
                div{
                    background:url(../images/jingling.png);
                    background-position: -137px -161px;
                    position:absolute;
                    top:50%;
                    margin-top:-15px;
                    margin-right:-15px;
                    opacity: 0.5;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
            .help-button{
                div{
                    background:url(../images/jingling.png);
                    background-position: -95px -54px;
                    position:absolute;
                    top:50%;
                    margin-top:-15px;
                    margin-right:-15px;
                    opacity: 0.5;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
            .shoppingCart{
                height: 100%;
                width: 120px;
                float: right;
                text-align:center;
                color: white;
                span{
                    position:absolute;
                    left: 81.4%;
                    top:50%;
                    margin-top:-40px;
                }
                .icon-box{
                    color: white;
                    display:inline-block;
                    margin-left:15px;
                    width: 30px;
                    height: 31px;
                    background: url(../images/jingling.png) -168px -97px no-repeat transparent;
                    position:absolute;
                    top:50%;
                    margin-top:-15px;
                }
                &:hover a{
                    border-bottom: 1px solid white;
                }
                a{
                    color: white;
                }
            }
            .register{
                float: right;
                margin-right: 30px;
                span{
                    color: white;
                    &:hover{
                        border-bottom: 1px solid white;
                    }
                }
                .regester-r{
                    background:url(../images/jingling.png);
                }
                div{
                    float:right;
                    display:inline-block;
                    width: 30px;
                    height: 31px;
                    background: url(../images/jingling.png) -96px -85px no-repeat transparent;
                    position:absolute;
                    left: 73%;
                    top:50%;
                    margin-top:-15px;
                    opacity: 0.5;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }
    .header-expanded{
        position:relative;
        padding: 0 40px;
        display: none;
        .register-r{
            margin: 0 auto;
            font-size: 24px;
            max-width: 1000px;
            padding: 40px 0;
            dl{
                float: left;
                display: inline-block;
            }
            .dl-1{
                height:317px;
                width:150px;
                .register-r-box{
                    border: 1px solid black;
                    background-color: black;
                }
            }
            .dl-2{
                height:317px;
                margin: 0 58px;
                padding: 0 58px;
                width:300px;
                border-left: 1px solid #333;
                border-right: 1px solid #333;
                dd{
                    width: 40px;
                    height: 40px;
                    float:left;
                    margin: 0 12px 12px;
                    a{
                        display: block;
                        background-image: url(../images/share.png);
                        background-repeat: none;
                        background-color: white;
                        width: 100%;
                        height: 100%;
                        text-indent: -1000em;
                    }
                    .sina{
                        background-position: 0 0;
                    }
                    .qq{
                        background-position: 0 -96px;
                    }
                    .renren{
                        background-position: 0 -144px;
                    }
                    .zhifubao{
                        background-position: 0 -240px;
                    }
                }
            }
            .dl-3{
                height:317px;
                width:300px;
                overflow:hidden;
                input{
                    padding-left: 10px;
                    width:280px;
                    height:30px;
                    font-size: 14px;
                    color: #333;
                    border: 1px solid black;
                    outline: none;
                }
                p{
                    color: red;
                    font-size: 12px;
                    line-height: 12px;
                    text-indent:-9999px;
                }
                .input3{
                    width:140px;
                    float:left;
                }
                .verificationCode{
                    width: 140px;
                    height: 35px;
                    float:right;
                }
                a{
                    font-size: 14px;
                    float:right;
                    text-decoration: underline;
                    overflow: hidden;
                }
                ._p{
                    color: black;
                    text-indent:0px;
                }
                .login{
                    margin-top:10px;
                    text-align:center;
                    border: 1px solid black;
                    div{
                        width: 0;
                        height: 0;
                        border-bottom:12px solid transparent;
                        border-left:12px solid white;
                        border-top:12px solid transparent;
                        display:inline-block;
                        margin-left:10px;
                        vertical-align:middle;
                        margin-bottom: 4px;
                    }
                }
                .keeplogin{
                    margin-top: 5px;
                    font-size: 14px;
                    input{
                        width: 12px;
                        height: 12px;
                    }
                    a{
                        font-size: 14px;
                    }
                }
            }
            dl dt{
                margin-bottom:18px;
                color: #333;
            }
            dl dd{
                color: white;
                background-color: black;
                div .triangle-r{
                    width: 0;
                    height: 0;
                    border-bottom:12px solid transparent;
                    border-left:12px solid white;
                    border-top:12px solid transparent;
                    display:inline-block;
                    margin-left:10px;
                    vertical-align:middle;
                    margin-bottom: 4px;
                }
            }
            .register-r-box{
                width: 150px;
                padding: 4px;
                text-align: center;
            }
            .login-container{
                float:left;
            }
        }
    }
    .nav-content{
        width: 100%;
        height: 50px;
        background-color:#464646;
        position:relative;
        ul{
            text-align: center;
            li{
                min-width:110px;
                padding:0 12px;
                display: inline-block;
                a{
                    padding:4px 0;
                    text-align: center;
                    color: white;
                    font-size: 18px;
                    display:block;
                    div{
                        margin: 3px auto;
                        width: 0;
                        height: 0;
                        border-bottom:6px solid transparent;
                        border-left:6px solid transparent;
                        border-right:6px solid transparent;
                        border-top:6px solid white;
                    }
                }
            }
        }
        .submenu{
            width:100%;
            position:absolute;
            top:100%;
            text-align:center;
            color:black;
            background-color:white;
            z-index:101;
            .max1200{
                max-width:1200px;
                margin:auto;
                display:none;
                .submenu-list{
                    width: auto;
                    max-height:120px;
                    a{
                        color:black;
                    }
                }
            }
        }
    }
}
.page-content{
    .home-content-top{
        .home-notice{
            line-height: 40px;
            text-align: center;
            padding-top:130px;
            a{
                font-size: 12px;
                color: #222;
            }
        }
        .slide-content {
            position:relative;
            .arrow{
                width: 40px;
                height: 100px;
                background-color: #333;
                position:absolute;
                top: 300px;
                margin-top:-66px;
                z-index: 17;
                text-align:center;
                .icon-l{
                    width: 0;
                    height: 0;
                    border-bottom: 25px solid transparent;
                    border-right: 25px solid white;
                    border-top: 25px solid transparent;
                    display: inline-block;
                    margin-top: 25px;
                }
                .icon-r{
                    width: 0;
                    height: 0;
                    border-bottom: 25px solid transparent;
                    border-left: 25px solid white;
                    border-top: 25px solid transparent;
                    display: inline-block;
                    margin-top: 25px;
                }
            }
            .left{
                left: 0;
            }
            .right{
                right: 0;
            }
            .slider{
                display: inline-block;
                position:relative;
                width: 1519px;
                height: 594px;
                .slider-box{
                    position: absolute;
                    top: 0;
                    left: 0;
                    &:nth-child(1){
                        opacity: 1;
                        z-index: 5;
                    }
                    &:nth-child(2){
                        opacity: 0;
                        z-index: 4;
                    }
                    &:nth-child(3){
                        opacity: 0;
                        z-index: 4;
                    }
                    &:nth-child(4){
                        opacity: 0;
                        z-index: 4;
                    }
                    a{
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .menu{
                width: 100%;
                height: 36px;
                margin: 0 auto;
                text-align: center;
                left: 0;
                position: absolute;
                z-index: 10;
                background: 0;
                margin-top: 8px;
                margin-bottom: 8px;
                li{
                    border-top: 1px solid #fff;
                    color: #999;
                    cursor: pointer;
                    display: inline-block;
                    zoom: 1;
                    font-size: 15px;
                    height: 15px;
                    padding: 5px 0;
                    margin-left: 8px;
                }
            }
            .home-look{
                margin-top:10px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .brand-segments{
                margin-top: 80px;
                max-width: 1000px;
                width: 100%;
                margin: 35px auto 0;
                .category-title{
                    height: 30px;
                    margin: 20px auto;
                    max-width: 1000px;
                    position: relative;
                    text-align: center;
                    &:before{
                        background-color: #b7b7b7;
                        content: "";
                        height: 1px;
                        left: 1.5%;
                        position: absolute;
                        top: 15px;
                        width: 97%;
                    }
                    h1{
                        background: none repeat scroll 0 0 #fff;
                        display: inline-block;
                        zoom: 1;
                        height: 30px;
                        line-height: 30px;
                        margin: 0 auto;
                        padding: 0 4%;
                        position: relative;
                        font-size: 30px;
                    }
                }
                .clearfix1{
                    overflow:hidden;
                    div{
                        float:left;
                        text-align:center;
                        a{
                            display:block;
                            font-size: 24px;
                            line-height: 30px;
                            padding:25px;
                        }
                    }
                }
                .brand-menu-container{
                    width: 97%;
                    margin-top: 20px;
                    height: 20px;
                    position: relative;
                    padding: 0 1.5%;
                    &:before {
                        width: 97%;
                        background-color: #b7b7b7;
                        height: 1px;
                        position: absolute;
                        top: 0;
                        left: 1.5%;
                        content: "";
                    }
                    .brand-menu{
                        width: 39px;
                        height: 21px;
                        position: absolute;
                        background: url(../images/active.png) no-repeat scroll 0 0 transparent;
                        top: 0;
                        left: 12%;
                        margin-left: -20px;
                    }
                }
                .list-slide-container{
                    display: block;
                    opacity: 1;
                    .list-slide-gird{
                        border-bottom: 1px dotted #b7b7b7;
                        display: inline-block;
                        zoom: 1;
                        margin: 20px auto 0;
                        padding-bottom: 19px;
                        position: relative;
                        width: 100%;
                        .product-list-slide{
                            width: 100%;
                            position: relative;
                            height: auto;
                            .product-list{
                                max-width: 1000px;
                                height: auto;
                                position: relative;
                                margin: 0 auto;
                                overflow:hidden;
                                dl{
                                    width: 25%;
                                    height: 300px;
                                    float: left;
                                    position: relative;
                                    font-size: 14px;
                                    box-sizing: border-box;
                                    display:none;
                                    dt{
                                        width: 165px;
                                        height: 180px;
                                        margin: 0 auto;
                                        position: relative;
                                        padding-top: 10px;
                                        a{
                                            img{
                                                margin-bottom: 9.1%;
                                                position: absolute;
                                                bottom: 0;
                                                width: 100%;
                                                height: 100%;
                                            }
                                        }
                                    }
                                    dd{
                                        width: 100%;
                                        text-align: center;
                                        line-height: 18px;
                                    }
                                    .product-list-name{
                                        height: 55px;
                                        margin-bottom: 5px;
                                    }
                                    .product-list-price{
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                    .noborder{
                        border: 0;
                    }
                    .view-all{
                        width: auto;
                        height: auto;
                        margin: 0 auto;
                        text-align: center;
                        a{
                            line-height: 48px;
                            font-size: 16px;
                            height: 48px;
                            padding: 0 25px;
                            border: 1px solid #000;
                            text-align: center;
                            display: inline-block;
                            zoom: 1;
                            width: 42%;
                            background-color: #000;
                            color: #FFF;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }
    .home-content-bottom{
        width: 100%;
        height: auto;
        margin: 80px auto 0;
        overflow: hidden;
        .specialfeature{
            max-width: 1000px;
            height: auto;
            margin: 40px auto 0;
            padding: 0;
            border: 0;
            font: inherit;
            font-size: 100%;
            vertical-align: baseline;
            .specialfeature-title{
                width: 100%;
                height: 40px;
                background: #464646;
                color: #FFF;
                font-size: 18px;
                img{
                    margin: 10px 11px 0 20px;
                    float: left;
                }
                span{
                    margin: 10px 0 0 0;
                    float: left;
                }
            }
            .specialfeature-main{
                width: 100%;
                height: auto;
                margin: 20px auto 0;
                border: 0 solid #f00;
                overflow:hidden;
                .specialfeature-content{
                    width: 48.8%;
                    height: auto;
                    p{
                        font-size:12px;
                        line-height: 20px;
                        height: auto;
                        margin-bottom:8px;
                    }
                    h1{
                        font-size: 24px;
                        margin: 17px 0 17px 0;
                    }
                    .product{
                        border: 1px solid #b7b7b7;
                        width: 100%;
                        height: auto;
                        display: block;
                        position: relative;
                        img{
                            border:0;
                        }
                    }
                    .buy-botton{
                        margin-top: 16px;
                    }
                    .product-text{
                        color:black;
                    }
                    .product-buy{
                        line-height: 48px;
                        font-size: 16px;
                        height: 48px;
                        padding: 0 3px 0 7px;
                        border: 1px solid #000;
                        text-align: center;
                        display: inline-block;
                        zoom: 1;
                        width: 38%;
                        background-color: #000;
                        color: #FFF;
                        &:after{
                            background: url(../images/jingling.png) no-repeat scroll -9px -163px transparent;
                            width: 20px;
                            height: 30px;
                            display: inline-block;
                            zoom: 1;
                            vertical-align: middle;
                            margin-left: 13px;
                            content: "";
                        }
                    }
                }
                .specialfeature-two{
                    float: left;
                    width: 32%;
                    margin-left: 1.92%;
                    .product-text{
                        margin: 13px 0;
                    }
                    &:first-child{
                        margin-left: 0;
                    }
                }
                .specialfeature-main-two{
                    float: left;
                    width: 32%;
                    margin-left: 1.92%;
                    height: auto;

                }
                .product-left{
                    float: left;
                    margin-left: 0;
                }
                .product-right{
                    float: right;
                    margin-right: 2px;
                }
            }
        }
        .information{
            background: #464646;
            width: 100%;
            color: #FFF;
            text-align: center;
            height: auto;
            margin: 80px 0 0 0;
            h1{
                font-size: 30px;
                margin: 78px auto 35px;
                display: inline-block;
            }
            p{
                font-size: 16px;
                line-height: 24px;
            }
            .information-link{
                margin: 37px auto 0;
                height: auto;
                width: 525px;
                text-align: center;
                padding-bottom: 80px;
                overflow:hidden;
                a{
                    background: url(../images/share1.png) no-repeat transparent;
                    width: 75px;
                    height: 75px;
                    display: block;
                    float: left;
                    text-indent: -9999px;
                    margin: 0 15px;
                    padding: 0;
                }
                .weibo{
                    background-position: -75px 0;
                }
                .wechat{
                    background-position: -75px -75px;
                }
                .qqwb{
                    background-position: -75px -150px;
                }
                .renren{
                    background-position: -75px -225px;
                }
                .douban{
                    background-position: -75px -300px;
                }
            }
        }
    }
}
.sitemap{
    max-width: 1000px;
    margin: 75px auto 0;
    text-align: center;
    overflow:hidden;
    .catelory-title{
        height: 30px;
        margin: 20px auto;
        max-width: 1000px;
        position: relative;
        text-align: center;
    }
    dl{
        width: 24%;
        text-align: center;
        display: inline-block;
        zoom: 1;
        vertical-align: top;
        min-height: 280px
        dt{
            margin-bottom: 20px;
        }
        .mgb20{
            margin-bottom: 20px;
        }
        dd{
            display: block;
            -webkit-margin-start: 40px;
            margin:0;
            a{
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}
.footer-wrapper{
    margin-top: 0;
    z-index: 98;
    width: 100%;
    position: relative;
    background-color: #000;
    color: #FFF;
    z-index: 100;
    .footer{
        height: 140px;
        margin: 0 auto;
        max-width: 1000px;
        position: relative;
        text-align: center;
        .footer-list{
            line-height: 30px;
            padding: 18px 0;
            width: auto;
            li{
                display: inline-block;
                zoom: 1;
                margin: 0 10px;
            }
        }
        a{
            color: #FFF;
            .primary-logo{
                top: 32%;
                width: 133px;
                height: 100px;
                position: absolute;
                background: url(../images/footer-logo.png) 0 0 no-repeat transparent;
                left: 50%;
                font-size: inherit;
                top: 30%;
                margin: -10px 0 0 -66px;
                transform: scale(0.5);
                -webkit-transform: scale(0.5);
                -ms-transform: scale(0.5);
            }
        }
        .footer-bottom{
            bottom: 0;
            display: block;
            margin: 12px auto;
            position: absolute;
            text-align: center;
            width: 100%;
            left: 0;
        }
    }
}
.product-list-slide{
    width: 100%;
    position: relative;
    height: auto;
    .product-list{
        max-width: 1000px;
        height: auto;
        position: relative;
        margin: 0 auto;
        overflow:hidden;
        dl{
            width: 25%;
            height: 300px;
            float: left;
            position: relative;
            font-size: 14px;
            box-sizing: border-box;
            dt{
                width: 165px;
                height: 180px;
                margin: 0 auto;
                position: relative;
                padding-top: 10px;
                a{
                    img{
                        margin-bottom: 9.1%;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            dd{
                width: 100%;
                text-align: center;
                line-height: 18px;
            }
            .product-list-name{
                height: 55px;
                margin-bottom: 5px;
            }
            .product-list-price{
                font-weight: bold;
            }
        }
    }
}
.cursor{
    cursor: pointer;
}
.lim_float_icon{
    position: absolute;
    z-index: 2147480000;
    top: 200px;
    right: 5px;
    a{
        img{
            max-width: 100%;
            height: auto;
            border: 0;
        }
    }
}



.content{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    div{
        float:left;
    }
    .datail-product-img{
        width: 520px;
        margin-left: 240px;
        margin-right: 40px;
        position: relative;
        z-index: 12;
        h1{
            width: 100%;
            font-size: 24px;
            color: #333;
            text-align: center;
            line-height: 37px;
            font-weight: bold;
        }
        .namewrapper{
            position: absolute;
            top: 0;
            width: 100%;
            .product-name{

            }
            .product-price{
                text-align: center;
                width: 100%;
                line-height: 37px;
                span{
                    color: #333;
                    font-size: 24px;
                    font-weight: bold;
                    margin-right: 7px;
                }
            }
        }
        .product-img{
            width: 520px;
            height: 505px;
            position: relative;
            a{
                display: block;
                overflow: visible;
                .zoomPad{
                    margin: 60px 35px 0;
                    width: 450px;
                    height: 450px;
                }
            }
        }
        .product-thumb-list{
            width: 100%;
            font-size: 0;
            text-align: center;
            margin-top: 22px;
            &:first-child{
                margin-left:0;
            }
            a{
                font-size: 0;
                display: inline-block;
                zoom: 1;
                width: 70px;
                cursor: pointer;
                height: 70px;
                border: 1px solid transparent;
                margin-left: 10px;
                position: relative;
                img{
                    width: 60px;
                    position: absolute;
                    left: 50%;
                    margin-left: -30px;
                    bottom: 5px;
                    display: block;
                }
                .cur{
                    border: 1px solid #b7b7b7;
                }
            }
        }
        .product-description{
            margin-top: 20px;
            text-align:center;
            h3{
                font-size: 18px;
                text-align: left;
            }
            li{
                font-size: 12px;
                text-align: left;
                list-style-type: none;
                line-height: 20px;
                padding-left: 12px;
                position: relative;
            }
            h4{
                font-size: 14px;
                margin-top: 30px;
                text-align: left;
                margin-bottom: 10px;
                font-weight: bold;
                color: #000;
            }
            p{
                font-size: 12px;
                text-align: left;
                line-height: 20px;
                color:black;
            }
            .learn-more-btn{
                height: 48px;
                width: auto;
                text-align: center;
                line-height: 50px;
                color: #fff;
                background-color: #000;
                display: inline-block;
                font-size: 16px;
                margin: 40px auto 0;
                cursor: pointer;
                padding: 0 84px;
                border: 1px solid #000;
            }
        }
    }
    .datail-tab-list{
        width: 200px;
        position: absolute;
        top: 0;
        left: 0;
        i{
            background: url(../images/detail.png) no-repeat scroll 999px 999px transparent;
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            left: 0;
        }
        &:first-child{
            margin-top:0;
        }
        .tab-wrap{
            margin-top: 20px;
            .datail-tab-list div .tab-title {
                height: 30px;
                width: auto;
                line-height: 30px;
                font-size: 14px;
                color: #333;
                position: relative;
                div{
                    float: left;
                    text-indent: 0;
                    &:first-child span{
                        float: left;
                        text-indent: 40px;
                    }
                }
            }
            .tab-title{
                height: 30px;
                width: auto;
                line-height: 30px;
                font-size: 14px;
                color: #333;
                position: relative;
                .review-rating-stars{
                    margin: 0 5px;
                }
            }
            .tab-content{
                height: auto;
                overflow: hidden;
                text-indent: 0;
                display: none;
            }
            .share{
                width: 165px;
                height: 0;
                display: block;
            }
            .weixin_popup .weixin2{
                background: none repeat scroll 0 0 #fff;
                border: 1px solid #d8d8d8;
                font-size: 12px;
                height: 270px;
                left: 50%;
                padding: 10px;
                position: absolute;
                bottom: 0;
                width: 240px;
                z-index: 11001;
                margin-left: -120px;
                display: none;
                .weixin_popup_head{
                    color: #000;
                    font-size: 12px;
                    font-weight: bold;
                    height: 16px;
                    line-height: 16px;
                    position: relative;
                    text-align: left;
                    .weixin_popup_close{
                        color: #999;
                        font-size: 16px;
                        height: 16px;
                        position: absolute;
                        right: 0;
                        text-decoration: none;
                        top: 0;
                        width: 16px;
                    }
                }
                .weixin_popup_main{
                    margin: 0 auto;
                    min-height: 150px;
                    padding: 10px;
                    width: 200px;
                }
                .weixin_popup_foot{
                    color: #666;
                    font-size: 12px;
                    line-height: 22px;
                    text-align: left;
                }
            }
        }
    }
    .datail-product-buy-wrap{
        width: 200px;
        .other-product-list{
            font-size: 0;
            a{
                width: 47px;
                height: 48px;
                display: inline-block;
                zoom: 1;
                font-size: 0;
                border: 1px solid transparent;
                margin-bottom: 10px;
                margin-right: 1px;
                position: relative;
                img{
                    bottom: 5px;
                    display: inline-block;
                    zoom: 1;
                    left: 50%;
                    position: absolute;
                    vertical-align: bottom;
                    width: 80%;
                    margin-left: -40%;
                }
                &:hover{
                    border: 1px solid #b7b7b7;
                }
            }

        }
        .product-info{
            .popup_btn{
                margin-top: 15px;
                i{
                    background: url(../images/sprites_account.png) no-repeat scroll -10px -138px transparent;
                    display: inline-block;
                    zoom: 1;
                    height: 20px;
                    vertical-align: middle;
                    width: 20px;
                }
                span{
                    border-bottom: 2px solid #999;
                    font-size: 14px;
                }
            }
        }
        .product-size-wrap.noborder {
            border: 0;
            padding: 20px 0 0 0;
            p{
                font-size: 16px;
                font-weight: bold;
                color: #333;
                margin-bottom: 5px;
            }
        }
        .add-buycart-btn {
            font-size: 16px;
            color: #fff;
            display: block;
            background-color: #940000;
            font-weight: bold;
            text-align: center;
            height: 50px;
            width: 200px;
            line-height: 50px;
            cursor: pointer;
            span {
                display: inline-block;
                zoom: 1;
                height: 40px;
                position: relative;
                text-indent: 30px;
                .add-buycart-btn i {
                    background: url(../images/detail.png) no-repeat scroll -38px -138px transparent;
                    display: block;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 15px;
                    left: 0;
                }
            }
        }
        .arrival-notice-btn {
            font-size: 16px;
            color: #fff;
            display: block;
            background-color: #940000;
            font-weight: bold;
            text-align: center;
            height: 50px;
            width: 200px;
            line-height: 50px;
            cursor: pointer;
        }
        .now-buy-btn {
            font-size: 16px;
            color: #fff;
            display: block;
            background-color: #940000;
            font-weight: bold;
            text-align: center;
            height: 50px;
            width: 200px;
            line-height: 50px;
            cursor: pointer;
            margin-bottom: 2px;
            span {
                display: inline-block;
                zoom: 1;
                height: 40px;
                position: relative;
            }
        }
        .product-select-num {
            margin-top: 20px;
            margin-bottom: 25px;
            .text-right{

                .numbox{
                    .btnbox {
                        height: 28px;
                        border-left: 1px solid #b7b7b7;
                        .add {
                            top: 0;
                            background-position: 8px 2px;
                        }
                        .btnbox .reduce {
                            bottom: 0;
                            top: auto;
                            background-position: 8px -10px;
                        }
                    input{
                        width: 63px;
                        display: inline-block;
                        zoom: 1;
                        height: 26px;
                        line-height: 26px;
                        vertical-align: top;
                        text-align:center;
                        }
                    }
            }
            .text-left{
                height: 30px;
                width: 90px;
                color: #333;
                font-size: 12px;
                line-height: 30px;
                float: left;
            }
            p{
                font-size: 14px;
                color: #d50424;
                text-align: right;
                margin-bottom: 20px;
                height: 15px;
            }
            .select-line {
                margin-bottom: 5px;
            }
        }
        .product-select-msg {
            padding-top: 20px;
            .text-left{
                height: 30px;
                width: 90px;
                color: #333;
                font-size: 12px;
                line-height: 30px;
                float: left;
            }
            .text-right {
                position: relative;
                width: 98px;
                height: 28px;
                border: 1px solid #b7b7b7;
                float: right;
                span{
                    color: #333;
                    font-size: 12px;
                    text-align: center;
                    display: block;
                    height: 28px;
                    line-height: 28px;
                    width: 67px;
                }
                i{
                    width: 30px;
                    height: 28px;
                    display: block;
                    background: url(../images/detail.png) no-repeat scroll 11px -132px transparent;
                    position: absolute;
                    right: 0;
                    top: 0;
                    border-left: 1px solid #b7b7b7;
                }
                select{
                    width: 100%;
                    height: 28px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    opacity: 0;
                    filter: alpha(opacity=0);
                    cursor: pointer;
                    font-family: "tradegothic";
                }
            }
            .select-line{
                height: 30px;
                margin: 20px 0;
            }
        }
    }
}
}
// .zoomPad{
//     position: relative;
//     float: left;
//     z-index: 99;
//     cursor: pointer;
// }
